<div class="window">
  <div class="handle">
    <div class="buttons">
      <button class="minimize">
      </button>
      <button class="maximize">
      </button>
    </div>
    <span class="title"></span>
  </div>
  <perfect-scrollbar style="min-height: 140px;height: 140px" [config]="config">
  <div class="terminal" *ngIf="device">
      <div *ngFor="let e of events" >
        <span>{{device.clientId}}:~$ </span>
        <span>{{e}}</span>
        <br>
      </div>
  </div>
  </perfect-scrollbar>
</div>
