HELP.md
target/
target-*/
*target-*/
*.lock
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.h264
*.aac
*.mp4
*.text
*.log
logs/*
*.log.*
ui/src/main/resources/ui-static/node
ui/src/main/resources/ui-static/node_modules
ui/src/main/resources/static/
ui/src/main/resources/ui-static/dist
ui/src/main/resources/ui-static/dpackage-lock.json
package-lock.json
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
