matrix:
  include:
    - language: python
      python:
        - "3.7"
      before_install:
        - cd spy
      install:
        - bash install.sh
        - pip install -r requirements.txt
      script:
        - python Test.py
    - language: java
      jdk:
        - openjdk12
      services:
        - docker
      before_install:
        - chmod +x mvnw
      install: true
      script: ./mvnw clean install -Pstatic -Ddocker.username=$DOCKER_USERNAME -Ddocker.password=$DOCKER_PASSWORD
      cache:
        directories:
          - $HOME/.m2