matrix:
  include:
    - language: python
      python:
        - "3.7"
      before_install:
        - cd spy
      install:
        - bash setup/install.sh
        - pip install -r requirements.txt
      script:
        - python Test.py
    - language: java
      jdk:
        - openjdk12
      services:
        - docker
      before_install:
        - chmod +x mvnw
      install: true
      script: ./mvnw clean install -Pstatic -DskipTests=true -Ddocker.username=$DOCKER_USERNAME -Ddocker.password=$DOCKER_PASSWORD
      cache:
        directories:
          - $HOME/.m2
    - language: java
      jdk:
        - openjdk12
      services:
        - docker
      before_install:
        - chmod +x mvnw
      install: true
      script: ./mvnw clean package -Ppivotal -DskipTests=true
      cache:
        directories:
          - $HOME/.m2
      deploy:
        - provider: cloudfoundry
          username: $PIVOTAL_USERNAME
          password: $PIVOTAL_PASSWORD
          api: https://api.run.pivotal.io
          organization: ihear
          space: development
          manifest: ihear/pivotal/manifest.yml