matrix:
  include:
    - language: python
      python:
        - "3.6"
      before_script: cd spy
      install:
        - pip install -r requirements.txt
      script:
        - python Main.py
    - language: java
      jdk:
        - openjdk12
      services:
        - docker
      before_install:
        - chmod +x mvnw
      install: true
      script: ./mvnw clean install -DskipTests=true -Ddocker.username=$DOCKER_USERNAME -Ddocker.password=$DOCKER_PASSWORD
      cache:
        directories:
          - $HOME/.m2