<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Joystick</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" routerLink="/home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Interface
  </div>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/schema">
      <i class="fas fa-fw fa-table"></i>
      <span>Schema</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/device">
      <i class="fab fa-raspberry-pi"></i>
      <span>Devices</span></a>
  </li>
</ul>
