<div class="row">
  <div class="col">
    <ul class="tree">
      <li>
        schema
        <button type="button" class="btn btn-light btn-sm">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-light btn-sm" (click)="delete(schema.keys,-1)">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <ul class="tree" *ngFor="let key of schema.keys ; let i = index">
          <li>
            {{key.keyType}}
            <button type="button" class="btn btn-light btn-sm">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-light btn-sm" (click)="delete(schema.keys,i)">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <ul *ngFor="let listener of key.listener; let i = index">
              <li>
                {{listener.listenerType}}
                <button type="button" class="btn btn-light btn-sm">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm" (click)="delete(key.listener,i)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <ul *ngFor="let action of listener.actions; let i = index">
                  <li>
                    {{action.actionType}}  on {{action.pinType}}
                    <button type="button" class="btn btn-light btn-sm" (click)="delete(listener.actions,i)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col">
    <div class="form-group">
      <textarea class="form-control" rows="15" disabled="true" [ngModel]='schema.keys | json'></textarea>
    </div>
  </div>
</div>
<div class="row">
  <button (click)="save()" class="btn btn-primary">save</button>
</div>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>
