<div class="p-2">
  <h1 class="h5 mb-0 text-gray-800">Device</h1>
  <div class="row">
    <div class="col col-md-8" style="height: 100px;background-color: #78261f;background-clip: content-box;">
      <div id="media">
        <audio id="audio" autoplay="true"></audio>
        <video id="video" autoplay="true" playsinline="true"></video>
      </div>
    </div>
  </div>

<div class="bottom">
  <div class="row float-right">
    <div class="col">
      <div class="btn-group-sm">
        <button class="btn btn-sm m-1 btn-success" (click)="stream()">STREAM</button>
        <button class="btn btn-sm m-1 btn-warning" (click)="teardown()">TEARDOWN</button>
      </div>
    </div>
  </div>

  <div class="row" style="clear: both">
    <div class="col">
      <js-console #console [device]="device" ></js-console>
    </div>
  </div>
</div>

</div>
