<div class="p-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="app-modal-body">
        <div class="row justify-content-md-center p-2">
          <span>Stream</span>
        </div>
        <div class="form-group row">
          <label for="Title" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-9">
            <input class="form-control" id="Title" name="stream.title" [(ngModel)]="stream.title">
          </div>
        </div>
        <div class="form-group row">
          <label for="Meta" class="col-sm-3 col-form-label">Meta</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="Meta" name="stream.meta" rows="2" style="resize: none"
                      [(ngModel)]="stream.meta"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="SchemaId" class="col-sm-3 col-form-label">SchemaId</label>
          <div class="col-sm-9">
            <a id="SchemaId" (click)="showSelect()" class="btn btn-sm btn-success">
              <span>Select</span>
            </a>
            <span class="pl-2">{{stream.schemaId}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <button (click)="save()" class="btn btn-primary">save</button>
  </div>
  <div class="row">
    <ul class="list-unstyled">
      <li *ngFor="let st of streams">
    <span>
      {{st.id}}
    </span>
        <a *ngIf="st.id" [routerLink]="['/stream',st.id]">stream</a>
        <a *ngIf="st.schemaId" [routerLink]="['/schema',st.schemaId]">schema</a>
      </li>
    </ul>
  </div>
</div>

